<!DOCTYPE html>
<html lang="de-de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{sfw2_project.title}}</title>
        <link rel="stylesheet" href="/css/bundle.css">
        <link rel="shortcut icon" href="" />
        <meta property="og:image" content=""> <!-- FIXME: content needed! -->
        <meta name="description" content="Springer Singgemeinschaft - Singen soll Freude bringen">
        <link rel="icon" type="image/png" href="/img/layout/favicon.svg" sizes="32x32" />
        <link rel="shortcut icon" href="/img/layout/favicon.ico" />
        <script defer src="/js/bundle.js"></script>
        {{!FIXME: Load all javascript-files automatically}}
        {{!<script type="module" defer="defer" src="js/sfw2_authority.js"></script>}}
    </head>
    <body>
        <!-- ############################################## DIALOGS ############################################# -->
        <div class="modal fade" id="sfw2-form-dialog-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header sfw2-no-border">
                        <h1 id="sfw2-form-dialog-title" class="modal-title fs-5" ></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="sfw2-form-dialog-body" class="modal-body">
                    </div>
                    <div class="modal-footer sfw2-no-border">
                        <button
                            id="sfw2-dialog-button-send"
                            type="button"
                            class="btn btn-secondary sfw2-button-send"
                        >
                            Daten abschicken
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sfw2-common-dialog-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="errorDialogModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 id="sfw2-common-dialog-title" class="modal-title fs-5"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="sfw2-common-dialog-body" class="modal-body"></div>
                    <div id="sfw2-common-dialog-identifier" class="small modal-body"></div>
                    <div class="modal-footer">
                        <button id="sfw2-common-dialog-button-okay" data-bs-dismiss="modal" type="button" class="btn btn-secondary">okay</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sfw2-delete-dialog-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eintrag löschen?</h4>
                    </div>
                    <div class="modal-body">
                        Soll der Eintrag <strong id="sfw2-delete-content-title"></strong> wirklich gelöscht werden?
                    </div>
                    <div class="modal-footer">
                        <button id="sfw2-delete-accept-button" type="button" class="btn btn-secondary">okay</button>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
        <!-- ############################################## HEADER ############################################## -->
        {{#if sfw2_routing.is_home}}
        <script defer src="/js/sfw2_home.js"></script>
        <header class="sfw2-header-container">
            <div class="sfw2-header-bg-image">
                <div class="container d-flex align-items-end">
                    <div class="mb-5 sfw2-alternative-fore-color">
                    </div>
                </div>
            </div>
            <div style="height: 38vh;">
                <div class="container pt-5">
                    <h1 class="pt-5 display-1"><strong>{{sfw2_project.title}}</strong></h1>
                    <h3>{{sfw2_project.sub_title}}</h3>
                </div>
                <div class="sfw2-handle-box">
                    <p class="text-center fw-bold fs-4 sfw2-animate" >
                        <a id="goto-page-content-start" class="text-reset" href="#page-content-start">
                            <i class="bi bi-chevron-double-down"></i>
                        </a>
                    </p>
                </div>
            </div>
        </header>
        {{/if}}
        <!--############################################ NAVIGATION ############################################# -->
        <header id="page-content-start" class="sticky-top">
            <a class="navbar-brand" href="/#page-content-start">
                <h3 class="sfw2-alternative-box-color p-3 m-0">{{sfw2_project.sub_title}}</h3>
            </a>
            <nav id="navigation" class="navbar navbar-expand-lg bg-body-tertiary sfw2-bottom-shaddow">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/#page-content-start">
                        <i class="bi bi-music-note {{#if sfw2_routing.is_home}}sfw2-active-fore-color{{/if}}"></i>
                    </a>
                    <button
                        class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            {{#each sfw2_menu}}
                            <li class="nav-item" >
                                <a class="nav-link {{#if active}}active{{/if}}" href="{{href}}">{{name}}</a>
                            </li>
                            {{/each}}
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" style="cursor: pointer">
                                    <i
                                        class="bi {{#if sfw2_authority.authenticated}}bi-person-check{{else}}bi-person-lock{{/if}}"
                                        {{#if sfw2_authority.authenticated}}
                                        title="Angemeldet als '{{sfw2_authority.user_name}}'"
                                        id="sfw2-logout-button"
                                        {{else}}
                                        title="hier klicken um sich anzumelden..."
                                        data-bs-toggle="modal"
                                        data-bs-target="#sfw2-login-dialog-modal"
                                        {{/if}}
                                    ></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- ############################################# CONTENT ############################################## -->
        <main class="container py-5">
            <div class="py-lg-5">
            {{{content}}}
            </div>
        </main>
        <!-- ############################################## FOOTER ############################################## -->
        <footer class="sfw2-footer sfw2-alternative-box-color">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-10">
                        <h4>{{sfw2_project.title}}</h4>
                        <p class="mb-0">
                            {{sfw2_project.chairman}}
                        </p>
                        <p class="mb-0">
                            {{sfw2_project.street}}
                        </p>
                        <p class="mb-0">
                            {{sfw2_project.city}}
                        </p>
                    </div>
                    <div class="col-md-2">
                        <h4>Impressum</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="text-reset" href="/datenschutz">Datenschutz</a>
                            </li>
                            <li>
                                <a class="text-reset" href="/impressum">Impressum</a>
                            </li>
                            <li>
                                <a class="text-reset" href="mailto: {{sfw2_project.webmaster_mail_address}}">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <input type="hidden" id="sfw2_xss_token" value="{{xss_token}}" />
    </body>
</html>