<!DOCTYPE html>
<html lang="de-de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/bundle.css">
        <link rel="shortcut icon" href="" />
        <meta property="og:image" content="">
        <link rel="icon" type="image/png" href="/img/layout/icon.png" sizes="32x32" />
        <link rel="shortcut icon" href="/public/layout/favicon.ico" />
    </head>
    <body>
        <main class="container">
        {{{content}}}
        </main>
        <!-- ############################################## FOOTER ############################################## -->
        <footer class="sfw2-footer sfw2-alternative-box-color">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-10">
                        <h4>{{title}}</h4>
                        <p class="mb-0">
                            {{chairman}}
                        </p>
                        <p class="mb-0">
                            {{street}}
                        </p>
                        <p class="mb-0">
                            {{city}}
                        </p>
                    </div>
                    <div class="col-md-2">
                        <h4>Impressum</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="text-reset" href="/datenschutz">Datenschutz</a>
                            </li>
                            <li>
                                <a class="text-reset" href="/impressum">Impressum</a>
                            </li>
                            <li>
                                <a class="text-reset" href="mailto: {{webmaster_mail_address}}">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <input type="hidden" id="xssToken" value="{{xssToken}}" />
        <script defer="defer" src="js/bundle.js"></script>
    </body>
</html>